In [1]:
import pandas as pd

In [8]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

# The pd.concat() Method, Part 1

In [9]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [10]:
len(week1)

250

In [11]:
len(week2)

250

In [14]:
len(pd.concat([week1, week2]))

500

In [24]:
pd.concat([week1, week2], ignore_index = True) # joins objects(DFs) to concatenate in a list / week 2 is added to week 1 / defaults simply adding indexes again
# ingore_index set to True resets the indexes

# The pd.concat() Method, Part 2

In [25]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [27]:
sales = pd.concat([week1, week2], keys = ["Week 1", "Week 2"]) # use 'keys' parameter(givin a list) to define what DFs our info came from / creates MultiIndex DF

In [32]:
sales.loc[("Week 2", 240), "Customer ID"] # retrieves the second week sales(key), then finds row 240 / give a column to the second argument

734

# The pd.append() Method

In [33]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [36]:
sales = week1.append(week2, ignore_index = True) # concat but applies directly to the DFs

In [37]:
sales.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

# Inner Joins, Part 1

In [39]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [41]:
week1.head(2)

   Customer ID  Food ID
0          537        9
1           97        4

In [42]:
week2.head(2)

   Customer ID  Food ID
0          688       10
1          813        7

In [49]:
week1.merge(week2, how = "inner", on = "Customer ID", suffixes = [" - Week 1", " - Week 2"]) #returns the results that are common to both weeks(bc how = 'inner') /
#'on' specifies what column to merge on(as long as they are the same column name in both DF)
# suffixes parameter defines what to call columns with the same names on different DFs(at the end of the column name)

    Customer ID  Food ID - Week 1  Food ID - Week 2
0           537                 9                 5
1           155                 9                 3
2           155                 1                 3
3           503                 5                 8
4           503                 5                 9
5           550                 6                 7
6           101                 7                 4
7            75                 6                 4
8            77                 1                 7
9            77                 9                 7
10           77                 2                 7
11           77                 9                 7
12          628                 4                 7
13          798                 9                 5
14          798                 1                 5
15          462                 3                 8
16          304                 3                 3
17          304                 2                 3
18          189                 4                 5
19          799                 8                 7
20           30                 2                 4
21          249                 9                 6
22          677                10                 3
23          741                 3                 8
24          540                 3                 3
25          819                 4                 5
26          937                10                10
27          937                10                 2
28          233                 3                 3
29           21                 4                 4
..          ...               ...               ...
32          816                 7                 2
33          761                 9                 2
34          761                 9                 3
35           80                 2                 4
36          479                 6                 3
37          922                 1                 1
38          922                 1                 2
39          909                 1                 6
40          909                 4                 6
41          919                10                 8
42          574                10                 9
43           45                 7                 8
44          529                 7                10
45          673                 7                 4
46          310                 2                 5
47          310                 1                 5
48          867                 9                10
49          968                 1                 4
50          482                 3                 1
51          163                 1                10
52          321                 1                 3
53          783                 6                10
54          578                 5                 5
55          578                 5                 5
56          520                 8                 7
57          945                 5                 4
58          343                 3                 5
59          343                 3                 2
60          343                 3                 7
61          621                 9                 6

[62 rows x 3 columns]

In [46]:
week1[week1["Customer ID"] ==155]

    Customer ID  Food ID
4           155        9
17          155        1

In [47]:
week2[week2["Customer ID"] ==155]

     Customer ID  Food ID
208          155        3

# Inner Joins, Part 2

In [50]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [51]:
week1.head(2)

   Customer ID  Food ID
0          537        9
1           97        4

In [52]:
week2.head(2)

   Customer ID  Food ID
0          688       10
1          813        7

In [53]:
week1.merge(week2, how = "inner", on = ["Customer ID", "Food ID"]) # looks for matches that satisfy both conditions(parameters)

   Customer ID  Food ID
0          304        3
1          540        3
2          937       10
3          233        3
4           21        4
5           21        4
6          922        1
7          578        5
8          578        5

In [55]:
week1[week1["Customer ID"] == 21]

     Customer ID  Food ID
101           21        4
212           21        4

In [59]:
week2[week2["Customer ID"] == 21]

    Customer ID  Food ID
30           21        4

# Outer Joins

In [ ]:
# combines values in either dataframe or both (or can combine those in either value but NOT both)

In [60]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [61]:
week1.head(2)

   Customer ID  Food ID
0          537        9
1           97        4

In [63]:
week2.head(2)

   Customer ID  Food ID
0          688       10
1          813        7

In [68]:
merged = week1.merge(week2, how = "outer", on = "Customer ID", suffixes = [" - Week 1", " - Week 2"], 
           indicator = True) # outer merge on a matching columns(full inclusive join by default)
# 'indicator' displays where the values are valid(where it's found / valid)

In [71]:
merged["_merge"].value_counts() # returns how many of each value are occuring(right, left, or both)

right_only    197
left_only     195
both           62
Name: _merge, dtype: int64

In [75]:
mask = merged["_merge"].isin(["left_only", "right_only"]) # returns True for left and right only's

In [76]:
merged[mask] # returns dataframe of those not in both(exclusive outer join)

     Customer ID  Food ID - Week 1  Food ID - Week 2      _merge
1             97               4.0               NaN   left_only
2            658               1.0               NaN   left_only
3            202               2.0               NaN   left_only
6            213               8.0               NaN   left_only
7            600               1.0               NaN   left_only
10            71               3.0               NaN   left_only
11            71               8.0               NaN   left_only
12           174               3.0               NaN   left_only
13           961               9.0               NaN   left_only
14           966               5.0               NaN   left_only
15           641               4.0               NaN   left_only
16           288               2.0               NaN   left_only
17           149               4.0               NaN   left_only
18           954               2.0               NaN   left_only
19           147               9.0               NaN   left_only
20           147               8.0               NaN   left_only
23           549               6.0               NaN   left_only
25            78               7.0               NaN   left_only
26           514               5.0               NaN   left_only
27           833               7.0               NaN   left_only
28           833               3.0               NaN   left_only
29           329               8.0               NaN   left_only
30           586              10.0               NaN   left_only
31           341               1.0               NaN   left_only
32           519              10.0               NaN   left_only
33           680               9.0               NaN   left_only
34           419               7.0               NaN   left_only
35            20               1.0               NaN   left_only
36           822               6.0               NaN   left_only
37           226              10.0               NaN   left_only
..           ...               ...               ...         ...
424          622               NaN               9.0  right_only
425          959               NaN               4.0  right_only
426          959               NaN               2.0  right_only
427          810               NaN               2.0  right_only
428          488               NaN               2.0  right_only
429          188               NaN               8.0  right_only
430          305               NaN               2.0  right_only
431          869               NaN               7.0  right_only
432          131               NaN               1.0  right_only
433          208               NaN               4.0  right_only
434          145               NaN               5.0  right_only
435          794               NaN               6.0  right_only
436          734               NaN              10.0  right_only
437          734               NaN               1.0  right_only
438          735               NaN               2.0  right_only
439          940               NaN               8.0  right_only
440          571               NaN               7.0  right_only
441          888               NaN               2.0  right_only
442          664               NaN               6.0  right_only
443          143               NaN               4.0  right_only
444          505               NaN               3.0  right_only
445           54               NaN               8.0  right_only
446          367               NaN               8.0  right_only
447          883               NaN               8.0  right_only
448          251               NaN               9.0  right_only
449          855               NaN               4.0  right_only
450          559               NaN              10.0  right_only
451          276               NaN               4.0  right_only
452          556               NaN              10.0  right_only
453          252               NaN               9.0  right_only

[392 rows x 4 columns]

# Left Join

In [77]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")