In [4]:
import pandas as pd

# Create A Series Object from A Python List

In [5]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

#calling the Series method from pandas using our ice_cream list
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [9]:
lottery = [4, 8, 13, 34, 24, 93]

#calling the Series method from pandas using our lottery list
pd.Series(lottery)

0     4
1     8
2    13
3    34
4    24
5    93
dtype: int64

In [10]:
registrations = [True, False, False, True, False, True]

#calling the Series method form pandas using our registrations list
pd.Series(registrations)

0     True
1    False
2    False
3     True
4    False
5     True
dtype: bool

# Create A Series Object from a Dictionary

In [12]:
webster = {"Aardvark": "An animal", 
           "Banana": "Delicious Yellow Fruit",
           "Orange": "A color"}

#calling the Series method form pandas using our webster dictionary
#for dictionaries, the key value becomes the series' index label
#series labels do not have to be unique like dictionary keys
pd.Series(webster)

Aardvark                 An animal
Banana      Delicious Yellow Fruit
Orange                     A color
dtype: object

# Intro to Attributes

In [13]:
#attributes do NOT modify objects / unlike methods
#do not require parenthesis during the call

In [20]:
about_me = ["Smart", "Awesome", "Fun", "Brilliant", "Humble"]
s = pd.Series(about_me)
s

0        Smart
1      Awesome
2          Fun
3    Brilliant
4       Humble
dtype: object

In [21]:
s.values

array(['Smart', 'Awesome', 'Fun', 'Brilliant', 'Humble'], dtype=object)

In [27]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
s.dtype #data type / returns 'O' for 'Object' with is what pandas calls strings

dtype('O')

# Intro to Methods

In [ ]:
# requires parenthesis

In [31]:
prices = [2.04, 3.24, 8.23]

#calling the Series method form pandas using our prices list
s = pd.Series(prices)
s

0    2.04
1    3.24
2    8.23
dtype: float64

In [36]:
s.sum() #adds series values

13.510000000000002

In [39]:
s.product() #multiplies series values

54.39700800000001

In [40]:
s.mean() #finds the mean(avg) of series values

4.503333333333334

# Parameters and Arguments

In [ ]:
# parameters   |   arguments


# Difficulty - Easy, Medium, Hard
# Volume - 1 through 10
# Subtitles - True / False

In [45]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wedesday", "Thursday", "Friday"]


#hold shift + tab to bring up method(parameter) documentation | Parameters are in a particular order unless specifide explicitly
pd.Series(fruits, weekdays)
pd.Series(data = fruits, index = weekdays)
pd.Series(fruits, index = weekdays)
#all three above methods are the same

Monday          Apple
Tuesday        Orange
Wedesday         Plum
Thursday        Grape
Friday      Blueberry
dtype: object

In [47]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wedesday", "Thursday", "Friday", "Monday"]

pd.Series(data = fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wedesday          Plum
Thursday         Grape
Friday       Blueberry
Monday      Watermelon
dtype: object

# Import Series with the read_csv Method

In [56]:
# chose read_csv because out files are saved as csv files
# first parameter is the path | only file name is neccessary since csv files are in the same folder as this notebook
# usecols parameter is short for "use columns(that I choose) to import/display... must use a list of column strings"
# "read_csv" returns a dataframe by default
# squeeze parameter accepts a boolean(True) to convert a dataframe to a series

pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [60]:
google = pd.read_csv("google_stock_price.csv", squeeze = True) # used squeeze to convert the dataframe to a series with "squeeze"
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# The .head() and .tail() Methods

In [ ]:
google = pd.read_csv("google_stock_price.csv", squeeze = True)
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)