In [3]:
import pandas as pd
import datetime as dt

# Review of Python's datetime Module

In [20]:
someday = dt.date(2018, 9, 14) #expects year, month, and day to create a date object
str(someday) # returns it as string

'2018-09-14'

In [9]:
someday.year # returns attribute year
someday.month # returns attribute month
someday.day #returns attribute day

14

In [22]:
sometime = dt.datetime(2018, 9, 14, 8, 30, 45) # execpts same arguments as date (but also can take times - default time is midnight if none is given)
                        # year, month, day, hour, minute, second
str(sometime) # returns it as a string

'2018-09-14 08:30:45'

In [25]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second
# ^ all used with datetime

45

# The pandas Timestamp Object

In [45]:
pd.Timestamp("2015-03-31") #accepts same inputs as python datetime object
pd.Timestamp("2015/03/31")
pd.Timestamp("2013, 2, 23")
pd.Timestamp("1/4/2018")
pd.Timestamp("19/12/2019")
pd.Timestamp("11/11/2019") # if numbers are less than 12, pd won't know if it's month or days
pd.Timestamp("2021-03-08 13:35:08") #generates date with time
pd.Timestamp("2018-4-13 3:34:23 PM")

Timestamp('2018-04-13 15:34:23')

In [46]:
pd.Timestamp(dt.date(2015, 1, 1)) # creates a pd Timestamp from a python(dt) date object

Timestamp('2015-01-01 00:00:00')

In [47]:
pd.Timestamp(dt.datetime(2018, 2, 3, 13, 35, 24)) #creates a pd Timestamp from a python(dt) datetime object

Timestamp('2018-02-03 13:35:24')

# The pandas DatetimeIndex Object

In [55]:
dates = ["2016/01/02", "2016/04/12", "2007/09/07"]
pd.DatetimeIndex(dates) # converts strings in to pandas teimstamps and stores them into a new DateTimeIndex object

DatetimeIndex(['2016-01-02', '2016-04-12', '2007-09-07'], dtype='datetime64[ns]', freq=None)

In [59]:
dates = [dt.date(2016, 1, 1), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates) # works with list of python date objects (converts them into datetime objects)

In [60]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)# creates a Series with arbitrary values we created and the index is our above-created index

2016-01-01    100
1994-06-13    200
2003-12-29    300
dtype: int64

# The pd.to_datetime() Method

In [ ]:
# converts to timestamp or DateTimeIndex(for multiple)

In [64]:
pd.to_datetime(["2001-04-19"])
pd.to_datetime(dt.date(2019, 1, 3))
pd.to_datetime(dt.datetime(2019, 1, 3, 14, 32, 20))
pd.to_datetime(["2019/01/23", "2018-03-29", "2018", "July 4th, 1996"])

DatetimeIndex(['2019-01-23', '2018-03-29', '2018-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [69]:
times = pd.Series(["2019/01/23", "2018-03-29", "2018", "July 4th, 1996"])
times

0        2019/01/23
1        2018-03-29
2              2018
3    July 4th, 1996
dtype: object

In [71]:
pd.to_datetime(times) # converts the times series as a datetime

0   2019-01-23
1   2018-03-29
2   2018-01-01
3   1996-07-04
dtype: datetime64[ns]

In [73]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])

In [75]:
pd.to_datetime(dates, errors = "coerce") # cannot proccess "Hello" or February 31st(bc it does not exist)
                        # 'errors' parameter defaults to 'raise'
                        # ^ "coerce" forces all other values as NaT(null)

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [76]:
pd.to_datetime([1349720105, 1349806505, 1349892905,
                1349979305, 1350065705], unit = "s") # unix datetime: seconds since January 1st, 1970 @ midnight
                                                    # use unit = "s" for seconds/datetime

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.date_range() Method, part 1

In [106]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D") # requires two of the three start, end, and period methods
                                                        # frequency parameter defaults to "(n)D" for days as the interval 
                                                        # ^ "B" is business days
                                                        # ^^ "W" is week(defaults to W-SUN: 1 sunday per week)
                                                        # ^^^ "H" is hour
                                                        # ^^^^ "M" is month(end)
                                                        # ^ "MS" is month start
                                                        # ^^^^^ "A" is year/annual(end)
                                                        # ^ "AS" is year/annual start

In [107]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [108]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [109]:
pd.date_range(start = "2016-01-01", end = "2050-01-01", freq = "AS")

DatetimeIndex(['2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01',
               '2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01',
               '2024-01-01', '2025-01-01', '2026-01-01', '2027-01-01',
               '2028-01-01', '2029-01-01', '2030-01-01', '2031-01-01',
               '2032-01-01', '2033-01-01', '2034-01-01', '2035-01-01',
               '2036-01-01', '2037-01-01', '2038-01-01', '2039-01-01',
               '2040-01-01', '2041-01-01', '2042-01-01', '2043-01-01',
               '2044-01-01', '2045-01-01', '2046-01-01', '2047-01-01',
               '2048-01-01', '2049-01-01', '2050-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

# Create Range of Dates with the pd.date_range() Method, part 2

In [146]:
pd.date_range("2012-09-09", periods = 20, freq = "7H") # periods represent the number of results we want returned

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 07:00:00',
               '2012-09-09 14:00:00', '2012-09-09 21:00:00',
               '2012-09-10 04:00:00', '2012-09-10 11:00:00',
               '2012-09-10 18:00:00', '2012-09-11 01:00:00',
               '2012-09-11 08:00:00', '2012-09-11 15:00:00',
               '2012-09-11 22:00:00', '2012-09-12 05:00:00',
               '2012-09-12 12:00:00', '2012-09-12 19:00:00',
               '2012-09-13 02:00:00', '2012-09-13 09:00:00',
               '2012-09-13 16:00:00', '2012-09-13 23:00:00',
               '2012-09-14 06:00:00', '2012-09-14 13:00:00'],
              dtype='datetime64[ns]', freq='7H')

# Create Range of Dates with the pd.date_range() Method, part 3

In [141]:
pd.date_range(end = "1999-12-31", periods = 53, freq = "SM") # returns a given number (periods) of results proceeding the "end" date

DatetimeIndex(['1997-10-31', '1997-11-15', '1997-11-30', '1997-12-15',
               '1997-12-31', '1998-01-15', '1998-01-31', '1998-02-15',
               '1998-02-28', '1998-03-15', '1998-03-31', '1998-04-15',
               '1998-04-30', '1998-05-15', '1998-05-31', '1998-06-15',
               '1998-06-30', '1998-07-15', '1998-07-31', '1998-08-15',
               '1998-08-31', '1998-09-15', '1998-09-30', '1998-10-15',
               '1998-10-31', '1998-11-15', '1998-11-30', '1998-12-15',
               '1998-12-31', '1999-01-15', '1999-01-31', '1999-02-15',
               '1999-02-28', '1999-03-15', '1999-03-31', '1999-04-15',
               '1999-04-30', '1999-05-15', '1999-05-31', '1999-06-15',
               '1999-06-30', '1999-07-15', '1999-07-31', '1999-08-15',
               '1999-08-31', '1999-09-15', '1999-09-30', '1999-10-15',
               '1999-10-31', '1999-11-15', '1999-11-30', '1999-12-15',
               '1999-12-31'],
              dtype='datetime64[ns]', freq='SM-15')

In [144]:
pd.date_range(end = "2019-01-01", start = "1999-01-01", periods = 5) #using all three 'end', 'start', & 'period' is possible

DatetimeIndex(['1999-01-01 00:00:00', '2004-01-01 06:00:00',
               '2008-12-31 12:00:00', '2013-12-31 18:00:00',
               '2019-01-01 00:00:00'],
              dtype='datetime64[ns]', freq=None)

# The .dt Accessor

In [147]:
# used like the .str accessor to access Series(or DataFrame) info if they are datetime objects

In [150]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [152]:
s = pd.Series(bunch_of_dates)

In [153]:
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [156]:
s.dt.day # returns the day number
s.dt.month # returns the month number
s.dt.weekday_name # returns day of week day represented by each index value

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [164]:
mask = s.dt.is_quarter_start   # returns a boolean; True if day is start of a ____
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

# Import Financial DataSet with pandas_datareader Library

In [5]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [21]:
company = "MSFT"
start = "2016-01-01"
end = "2019-12-31"
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)

In [22]:
stocks.head(3)

                 High        Low   Open      Close      Volume  Adj Close
Date
2016-01-04  54.799999  53.389999  54.32  54.799999  53778000.0  50.877312
2016-01-05  55.389999  54.540001  54.93  55.049999  34079700.0  51.109421
2016-01-06  54.400002  53.639999  54.32  54.049999  39518900.0  50.181000

In [23]:
stocks.values # returns list sof 5 values of each row, each of which is a value in a larger array(or list, idk)
stocks.columns # returns list of column names
stocks.index # returns DateTime index
stocks.axes # combines result from '.index' and '.columns' attributes

[DatetimeIndex(['2016-01-04', '2016-01-05', '2016-01-06', '2016-01-07',
                '2016-01-08', '2016-01-11', '2016-01-12', '2016-01-13',
                '2016-01-14', '2016-01-15',
                ...
                '2019-05-09', '2019-05-10', '2019-05-13', '2019-05-14',
                '2019-05-15', '2019-05-16', '2019-05-17', '2019-05-20',
                '2019-05-21', '2019-05-22'],
               dtype='datetime64[ns]', name='Date', length=852, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# Selecting from a DataFrame with a DateTimeIndex

In [38]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end) 
stocks.head(3)

                 High        Low   Open      Close      Volume  Adj Close
Date
2016-01-04  54.799999  53.389999  54.32  54.799999  53778000.0  50.877312
2016-01-05  55.389999  54.540001  54.93  55.049999  34079700.0  51.109421
2016-01-06  54.400002  53.639999  54.32  54.049999  39518900.0  50.181000

In [39]:
stocks.loc["2016-01-07"] # returns a Series where index labels are the column nams and the values are form the given row
stocks.iloc[3] # same as above but based on index position

High         5.349000e+01
Low          5.207000e+01
Open         5.270000e+01
Close        5.217000e+01
Volume       5.656490e+07
Adj Close    4.843557e+01
Name: 2016-01-07 00:00:00, dtype: float64

In [40]:
stocks.loc["2018-01-01"] # error if the stock market is closed

KeyError: '2018-01-01'

In [ ]:
stocks.loc["2017-10-01" : "2017-10-08"]

In [ ]:
birthdays = pd.date_range(start = "1999-09-14", end = "2019-12-31", freq = pd.DateOffset(years = 1)) # DateOffset seperate intervals 1 year seperate

In [41]:
mask = stocks.index.isin(birthdays) # returns boolean / should have some Trues for the stock of days that are my birthday from above
# only returns False, even on my Birthday and IDK why

In [42]:
stocks[mask] # this is supposed to return a table of all those stocks with on my birthday
# the 'mask' above only returns false and IDK why

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-09-14,56.630001,56.029999,56.389999,56.259998,24062500.0,53.305973
2017-09-14,75.489998,74.519997,75.000000,74.769997,15733900.0,72.550842
2018-09-14,113.730003,112.440002,113.360001,113.370003,19122300.0,111.987762

# Timestamp Object Attibutes

In [43]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [61]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

                 High        Low   Open      Close      Volume  Adj Close
Date
2016-01-04  54.799999  53.389999  54.32  54.799999  53778000.0  50.877312
2016-01-05  55.389999  54.540001  54.93  55.049999  34079700.0  51.109421
2016-01-06  54.400002  53.639999  54.32  54.049999  39518900.0  50.181000

In [62]:
someday = stocks.index[300]

In [63]:
someday.day
someday.month
someday.year
someday.weekday_name
someday.is_month_end # returns boolean
someday.is_month_start

C:\Users\Colton\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead
  after removing the cwd from sys.path.

False

In [64]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name) # takes in index location, column name, and values to populate throughout new series

In [65]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [66]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2016-02-01,Monday,True,55.090000,54.500000,54.880001,54.709999,44208500.0,50.793755
2016-03-01,Tuesday,True,52.590000,50.919998,50.970001,52.580002,33024500.0,49.166725
2016-04-01,Friday,True,55.610001,54.570000,55.049999,55.570000,24399200.0,51.962627
2016-06-01,Wednesday,True,52.950001,52.439999,52.439999,52.849998,25324800.0,49.764847
2016-07-01,Friday,True,51.720001,51.070000,51.130001,51.160000,21400400.0,48.173504
2016-08-01,Monday,True,56.750000,56.139999,56.599998,56.580002,26003400.0,53.277107
2016-09-01,Thursday,True,57.820000,57.009998,57.009998,57.590000,26075400.0,54.566135
2016-11-01,Tuesday,True,60.020000,59.250000,59.970001,59.799999,24533000.0,56.660099
2016-12-01,Thursday,True,60.150002,58.939999,60.110001,59.200001,34542100.0,56.470524
2017-02-01,Wednesday,True,64.620003,63.470001,64.360001,63.580002,39671500.0,60.648590
2017-03-01,Wednesday,True,64.989998,64.019997,64.129997,64.940002,26937500.0,62.321438
2017-05-01,Monday,True,69.550003,68.500000,68.680000,69.410004,31954400.0,66.611198
2017-06-01,Thursday,True,70.610001,69.449997,70.239998,70.099998,21603600.0,67.658966
2017-08-01,Tuesday,True,73.419998,72.489998,73.099998,72.580002,22132300.0,70.052635
2017-09-01,Friday,True,74.739998,73.639999,74.709999,73.940002,21736200.0,71.745491
2017-11-01,Wednesday,True,83.760002,82.879997,83.680000,83.180000,22307400.0,80.711250
2017-12-01,Friday,True,84.809998,83.220001,83.599998,84.260002,29532100.0,82.169785
2018-02-01,Thursday,True,96.070000,93.580002,94.790001,94.260002,47227900.0,91.921715
2018-03-01,Thursday,True,94.570000,91.839996,93.989998,92.849998,37135600.0,90.972031
2018-05-01,Tuesday,True,95.290001,92.790001,93.209999,95.000000,31408900.0,93.078545
2018-06-01,Friday,True,100.860001,99.169998,99.279999,100.790001,28655600.0,99.179474
2018-08-01,Wednesday,True,106.449997,105.419998,106.029999,106.279999,23628700.0,104.581749
2018-10-01,Monday,True,115.680000,114.730003,114.750000,115.610001,18883100.0,114.200455
2018-11-01,Thursday,True,107.320000,105.529999,107.050003,105.919998,33384200.0,104.628593
2019-02-01,Friday,True,104.099998,102.349998,103.779999,102.779999,35535700.0,101.965477
2019-03-01,Friday,True,113.019997,111.669998,112.889999,112.529999,23501200.0,112.114990
2019-04-01,Monday,True,119.110001,118.099998,118.949997,119.019997,22789100.0,118.581055
2019-05-01,Wednesday,True,130.649994,127.699997,130.529999,127.879997,26821700.0,127.408379

# The .truncate() Method

In [69]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end) 
stocks.head(3)

                 High        Low   Open      Close      Volume  Adj Close
Date
2016-01-04  54.799999  53.389999  54.32  54.799999  53778000.0  50.877312
2016-01-05  55.389999  54.540001  54.93  55.049999  34079700.0  51.109421
2016-01-06  54.400002  53.639999  54.32  54.049999  39518900.0  50.181000

In [72]:
stocks.truncate(before = "2017-03-05", after = "2017-09-09") # give the start date and end date as 'before' and 'after' respectively
# creates a new concise dataset

                 High        Low       Open      Close      Volume  Adj Close
Date
2017-03-06  64.559998  63.810001  63.970001  64.269997  18750300.0  61.678444
2017-03-07  64.779999  64.190002  64.190002  64.400002  18521000.0  61.803211
2017-03-08  65.080002  64.250000  64.260002  64.989998  21510900.0  62.369411
2017-03-09  65.199997  64.480003  65.190002  64.730003  19846800.0  62.119892
2017-03-10  65.260002  64.750000  65.110001  64.930000  19538200.0  62.311829
2017-03-13  65.190002  64.570000  65.010002  64.709999  20100000.0  62.100704
2017-03-14  64.550003  64.150002  64.529999  64.410004  14280200.0  61.812801
2017-03-15  64.919998  64.250000  64.550003  64.750000  24833800.0  62.139091
2017-03-16  64.760002  64.300003  64.750000  64.639999  20674300.0  62.033531
2017-03-17  65.239998  64.680000  64.910004  64.870003  49219700.0  62.254253
2017-03-20  65.180000  64.720001  64.910004  64.930000  14598100.0  62.311829
2017-03-21  65.500000  64.129997  65.190002  64.209999  26640500.0  61.620869
2017-03-22  65.139999  64.120003  64.120003  65.029999  20680000.0  62.407799
2017-03-23  65.239998  64.769997  64.940002  64.870003  19269200.0  62.254253
2017-03-24  65.449997  64.760002  65.360001  64.980003  22617100.0  62.359821
2017-03-27  65.220001  64.349998  64.629997  65.099998  18614700.0  62.474976
2017-03-28  65.470001  64.650002  64.959999  65.290001  20080400.0  62.657314
2017-03-29  65.500000  64.949997  65.120003  65.470001  13618400.0  62.830051
2017-03-30  65.980003  65.360001  65.419998  65.709999  15122800.0  63.060390
2017-03-31  66.190002  65.449997  65.650002  65.860001  21040300.0  63.204323
2017-04-03  65.940002  65.190002  65.809998  65.550003  20400900.0  62.906837
2017-04-04  65.809998  65.279999  65.389999  65.730003  12997400.0  63.079582
2017-04-05  66.349998  65.440002  66.300003  65.559998  21448600.0  62.916428
2017-04-06  66.059998  65.480003  65.599998  65.730003  18103500.0  63.079582
2017-04-07  65.959999  65.440002  65.849998  65.680000  14108500.0  63.031605
2017-04-10  65.820000  65.360001  65.610001  65.529999  17952700.0  62.887638
2017-04-11  65.610001  64.849998  65.599998  65.480003  18791500.0  62.839657
2017-04-12  65.510002  65.110001  65.419998  65.230003  17108500.0  62.599735
2017-04-13  65.860001  64.949997  65.290001  64.949997  17896500.0  62.331020
2017-04-17  65.489998  65.010002  65.040001  65.480003  16689300.0  62.839657
...               ...        ...        ...        ...         ...        ...
2017-07-28  73.309998  72.540001  72.669998  73.040001  18306700.0  70.496590
2017-07-31  73.440002  72.410004  73.300003  72.699997  23600100.0  70.168427
2017-08-01  73.419998  72.489998  73.099998  72.580002  22132300.0  70.052635
2017-08-02  72.559998  71.440002  72.550003  72.260002  26499200.0  69.743767
2017-08-03  72.440002  71.849998  72.190002  72.150002  18214400.0  69.637596
2017-08-04  73.040001  72.239998  72.400002  72.680000  22579000.0  70.149124
2017-08-07  72.900002  72.260002  72.800003  72.400002  18705700.0  69.878883
2017-08-08  73.129997  71.750000  72.089996  72.790001  22044600.0  70.255310
2017-08-09  72.510002  72.050003  72.250000  72.470001  22213400.0  69.946449
2017-08-10  72.190002  71.349998  71.900002  71.410004  24734500.0  68.923355
2017-08-11  72.699997  71.279999  71.610001  72.500000  21443700.0  69.975395
2017-08-14  73.720001  72.949997  73.059998  73.589996  20067300.0  71.027443
2017-08-15  73.589996  73.040001  73.589996  73.220001  19181400.0  71.046837
2017-08-16  74.099998  73.169998  73.339996  73.650002  18150400.0  71.464088
2017-08-17  73.870003  72.400002  73.580002  72.400002  22977500.0  70.251198
2017-08-18  72.839996  71.930000  72.269997  72.489998  18761500.0  70.338516
2017-08-21  72.480003  71.699997  72.470001  72.150002  17734800.0  70.008606
2017-08-22  73.239998  72.349998  72.349998  73.160004  14343700.0  70.988632
2017-08-23  73.150002  72.529999  72.959999  72.720001  13766500.0  70.561684
2017-08-24  72.860001  72.070000  72.739998  72.690002  17098300.0  70.532578
2017-08-25  73.349998  72.480003  72.860001  72.820000  12794300.0  70.658714
2017-08-28  73.089996  72.550003  73.059998  72.830002  14569700.0  70.668419
2017-08-29  73.160004  72.050003  72.250000  73.050003  11478400.0  70.881897
2017-08-30  74.209999  72.830002  73.010002  74.010002  16897800.0  71.813408
2017-08-31  74.959999  73.800003  74.029999  74.769997  27652800.0  72.550842
2017-09-01  74.739998  73.639999  74.709999  73.940002  21736200.0  71.745491
2017-09-05  73.889999  72.980003  73.339996  73.610001  21556000.0  71.425270
2017-09-06  74.040001  73.349998  73.739998  73.400002  16535800.0  71.221512
2017-09-07  74.599998  73.599998  73.680000  74.339996  17471200.0  72.133614
2017-09-08  74.440002  73.839996  74.330002  73.980003  14703800.0  71.784294

[131 rows x 6 columns]

# pd.DateOffset Objects

In [74]:
stocks = data.DataReader(name = "GOOG",
                data_source = "yahoo", 
                start = dt.date(2000, 1, 1),
                end = dt.datetime.now()) #dt.datetime.now returns the current date as a datetime object

In [75]:
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527

In [90]:
stocks.index + pd.DateOffset(minutes = 59, months = 8, years = 1,  days = 10)     # adds a number of days/weeks/months/minutes/etc... to each value

DatetimeIndex(['2006-04-29 00:59:00', '2006-04-30 00:59:00',
               '2006-05-03 00:59:00', '2006-05-04 00:59:00',
               '2006-05-05 00:59:00', '2006-05-06 00:59:00',
               '2006-05-07 00:59:00', '2006-05-10 00:59:00',
               '2006-05-10 00:59:00', '2006-05-11 00:59:00',
               ...
               '2021-01-19 00:59:00', '2021-01-20 00:59:00',
               '2021-01-23 00:59:00', '2021-01-24 00:59:00',
               '2021-01-25 00:59:00', '2021-01-26 00:59:00',
               '2021-01-27 00:59:00', '2021-01-30 00:59:00',
               '2021-01-31 00:59:00', '2021-02-01 00:59:00'],
              dtype='datetime64[ns]', name='Date', length=3715, freq=None)

# More Fun with pd.DateOffset Objects

In [100]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import * # import all info from this submodule to save space

In [91]:
stocks = data.DataReader(name = "GOOG",
                data_source = "yahoo", 
                start = dt.date(2000, 1, 1),
                end = dt.datetime.now()) #dt.datetime.now returns the current date as a datetime object
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527

In [108]:
stocks.index + MonthEnd() #goes to the next available month end(minus goes to previous month end)
stocks.index + MonthBegin() # goes to next month beginning(minus goes to previous month beginning)
stocks.index + BMonthEnd() # next business day month end
stocks.index - QuarterEnd() # previous end of quarter
stocks.index + QuarterBegin() # first day of next quarter

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-12-01',
               ...
               '2019-06-01', '2019-06-01', '2019-06-01', '2019-06-01',
               '2019-06-01', '2019-06-01', '2019-06-01', '2019-06-01',
               '2019-06-01', '2019-06-01'],
              dtype='datetime64[ns]', name='Date', length=3715, freq=None)

In [111]:
stocks.index + YearEnd() # next end of year
stocks.index - YearBegin() # previous year beginning

DatetimeIndex(['2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01',
               ...
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01'],
              dtype='datetime64[ns]', name='Date', length=3715, freq=None)

# The pandas Timedelta Object

In [113]:
# Timedelta is a duration whereas Timestamp is a specific instance in time

In [118]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")

In [119]:
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [120]:
timeA - timeB #returns a Timedelta object(telling us the difference in time / duration)

Timedelta('11 days 14:18:27')

In [122]:
timeB - timeA #returns negative value if you subtract from an earlier date

Timedelta('-12 days +09:41:33')

In [128]:
pd.Timedelta(days = 3, minutes = 45, hours = 12, weeks = 8) # creates a new pandas Timedelta object 
#'years' does not exist like in 'DateOffset'

Timedelta('59 days 12:45:00')

In [135]:
pd.Timedelta("6 hours 12 seconds 3 days") # can use a string

Timedelta('3 days 06:00:12')

# Timedeltas in a Dataset

In [140]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"]) 
                                            #import info as DateTime Objects(using 'parse_dates')
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [143]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"] # returns the amount of time b/w the order and the delivery dates(Timedeltas)
#creates a new column in shipping DF

In [144]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [147]:
shipping["Twice as Long"] = shipping["delivery_date"] + shipping["Delivery Time"] #Takes delivery date and adds it to delivery time(returns Datetime)
# creates a new column

In [148]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice as Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [152]:
shipping.dtypes # returns column datatypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice as Long     datetime64[ns]
dtype: object

In [154]:
mask = shipping["Delivery Time"] > "365 Days" #returns delivery times that took longer than given value / returns boolean

In [156]:
shipping[mask] # returns orders that took more than a year

    order_date delivery_date Delivery Time Twice as Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
10  1992-02-23    1998-12-30     2502 days    2005-11-05
11  1996-07-12    1997-07-14      367 days    1998-07-16
18  1995-06-18    1997-10-13      848 days    2000-02-08
20  1992-10-17    1998-10-06     2180 days    2004-09-24
23  1992-05-30    1999-08-15     2633 days    2006-10-30
26  1996-04-11    1998-05-04      753 days    2000-05-26
32  1990-01-20    1998-07-24     3107 days    2007-01-25
33  1994-09-21    1996-10-12      752 days    1998-11-03
35  1993-09-10    1996-04-28      961 days    1998-12-15
36  1990-05-15    1994-02-14     1371 days    1997-11-16
39  1990-03-26    1993-01-25     1036 days    1995-11-27
41  1992-02-06    1996-05-10     1555 days    2000-08-12
50  1991-05-03    1999-07-17     2997 days    2007-09-30
52  1994-09-02    1997-05-14      985 days    2000-01-24
53  1995-11-29    1998-06-23      937 days    2001-01-15
54  1996-08-07    1998-04-04      605 days    1999-11-30
60  1993-02-14    1995-08-06      903 days    1998-01-25
63  1990-12-22    1995-09-02     1715 days    2000-05-13
64  1990-11-25    1998-05-14     2727 days    2005-10-31
66  1992-09-08    1998-12-29     2303 days    2005-04-19
67  1990-05-04    1993-02-04     1007 days    1995-11-08
70  1994-02-16    1999-11-06     2089 days    2005-07-26
71  1990-11-25    1998-04-06     2689 days    2005-08-16
73  1991-10-01    1993-05-19      596 days    1995-01-05
75  1990-06-25    1996-12-18     2368 days    2003-06-13
..         ...           ...           ...           ...
907 1994-08-11    1998-09-28     1509 days    2002-11-15
908 1993-11-04    1997-02-26     1210 days    2000-06-20
909 1991-01-19    1998-08-22     2772 days    2006-03-25
916 1994-12-03    1997-03-26      844 days    1999-07-18
918 1994-12-29    1996-07-29      578 days    1998-02-27
919 1992-01-25    1993-06-01      493 days    1994-10-07
922 1996-07-06    1998-12-05      882 days    2001-05-05
924 1991-03-17    1996-05-13     1884 days    2001-07-10
926 1990-10-31    1994-04-12     1259 days    1997-09-22
935 1990-09-26    1998-03-07     2719 days    2005-08-16
938 1993-03-24    1995-07-15      843 days    1997-11-04
942 1992-04-14    1997-03-03     1784 days    2002-01-20
943 1991-01-30    1999-12-02     3228 days    2008-10-03
945 1992-10-27    1994-11-03      737 days    1996-11-09
946 1991-07-02    1996-02-23     1697 days    2000-10-16
947 1991-06-18    1999-06-11     2915 days    2007-06-04
951 1991-10-02    1994-04-18      929 days    1996-11-02
953 1991-09-26    1994-05-08      955 days    1996-12-18
956 1995-08-23    1999-01-10     1236 days    2002-05-30
957 1994-10-01    1999-07-25     1758 days    2004-05-17
958 1990-04-26    1997-06-29     2621 days    2004-09-01
972 1990-02-07    1995-11-05     2097 days    2001-08-02
981 1997-01-31    1998-03-04      397 days    1999-04-05
983 1994-12-30    1997-07-29      942 days    2000-02-26
984 1991-07-25    1999-02-09     2756 days    2006-08-27
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [159]:
shipping["Delivery Time"].max() # returns the longest/largest value in a given column (can use .mix() and others as well)

Timedelta('3583 days 00:00:00')