In [9]:
import pandas as pd
import numpy as np

# Changing pandas Options with Attributes and Dot Syntax

In [10]:
data = np.random.randint(1, 100, [1000, 50]) # use numpy(np) to access random module, using random integer method / returns numpy array
                                    # uses arguments: lower bound, upper bound, and array size(1000 rows x 50 columns)
df = pd.DataFrame(data) # turns data array into DataFrame
df.tail(3)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
997,32,37,80,60,76,83,62,20,65,55,...,60,57,21,18,18,66,4,2,28,80
998,6,42,81,50,12,23,38,12,68,54,...,58,60,87,43,48,73,41,11,7,39
999,65,14,41,89,7,24,9,11,47,75,...,88,50,57,45,51,35,86,81,20,97

In [16]:
pd.options.display.max_rows = 4 # returns number of rows we can display / can change the max rows with an equal sign

In [22]:
pd.options.display.max_columns = 8 #same as above but for columns

In [23]:
df

     0   1   2   3   ...  46  47  48  49
0    11  27  98  35  ...  21  99  51  50
1    59   2   6  96  ...  81  21   7  96
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
998   6  42  81  50  ...  41  11   7  39
999  65  14  41  89  ...  86  81  20  97

[1000 rows x 50 columns]

# Changing pandas Options with Methods

In [24]:
data = np.random.randint(1, 100, [1000, 50]) # use numpy(np) to access random module, using random integer method / returns numpy array
                                    # uses arguments: lower bound, upper bound, and array size(1000 rows x 50 columns)
df = pd.DataFrame(data) # turns data array into DataFrame
df.tail(3)

     0   1   2   3   ...  46  47  48  49
997  26  52  62  42  ...  26  53  96  56
998  71  37  25  61  ...  14  33  38  32
999  48   7  28  87  ...  11   6  12  46

[3 rows x 50 columns]

In [25]:
pd.get_option("max_rows") # give option name whose values you want to access (max_rows for this example)

4

In [26]:
pd.get_option("max_columns")

8

In [40]:
pd.options.display.max_rows = 10 #works the same as below
pd.set_option("max_rows", 10) # changes settings for max rows(or whatever option you want changed)

In [45]:
pd.reset_option("max_rows") # sets options back to default
pd.reset_option("max_columns")

In [46]:
pd.get_option("max_rows")
pd.get_option("max_columns")

20

In [48]:
pd.describe_option("max_columns") #provides documentation on what the option does(of inputed option) / tells default and current value

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

# The precision Option

In [49]:
# alters the number of digits after floating point numbers(doesn't actually change value)

In [53]:
df = pd.DataFrame(np.random.randn(5, 5)) #randn (numpy) generates dataset of statistical deviations (floating point)
                            # give dimensions of DF
df

          0         1         2         3         4
0 -0.112709  0.320506  0.700792  2.131584 -1.270812
1  1.018236  0.795469 -0.045297 -0.852062  0.192623
2  0.345338 -0.398387  0.530850 -0.566938 -1.329352
3 -0.174582  0.418085  0.804168  1.003585  1.141655
4  1.111019 -1.059830  0.408747  0.626963 -0.681059

In [55]:
pd.get_option("precision") # number of digits to appear are returned
pd.set_option("precision", 2)

In [60]:
df

          0         1         2         3         4
0 -0.112709  0.320506  0.700792  2.131584 -1.270812
1  1.018236  0.795469 -0.045297 -0.852062  0.192623
2  0.345338 -0.398387  0.530850 -0.566938 -1.329352
3 -0.174582  0.418085  0.804168  1.003585  1.141655
4  1.111019 -1.059830  0.408747  0.626963 -0.681059

In [59]:
pd.reset_option("precision") # reverts back digits