In [3]:
import pandas as pd
import datetime as dt

# Review of Python's datetime Module

In [20]:
someday = dt.date(2018, 9, 14) #expects year, month, and day to create a date object
str(someday) # returns it as string

'2018-09-14'

In [9]:
someday.year # returns attribute year
someday.month # returns attribute month
someday.day #returns attribute day

14

In [22]:
sometime = dt.datetime(2018, 9, 14, 8, 30, 45) # execpts same arguments as date (but also can take times - default time is midnight if none is given)
                        # year, month, day, hour, minute, second
str(sometime) # returns it as a string

'2018-09-14 08:30:45'

In [25]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second
# ^ all used with datetime

45

# The pandas Timestamp Object

In [45]:
pd.Timestamp("2015-03-31") #accepts same inputs as python datetime object
pd.Timestamp("2015/03/31")
pd.Timestamp("2013, 2, 23")
pd.Timestamp("1/4/2018")
pd.Timestamp("19/12/2019")
pd.Timestamp("11/11/2019") # if numbers are less than 12, pd won't know if it's month or days
pd.Timestamp("2021-03-08 13:35:08") #generates date with time
pd.Timestamp("2018-4-13 3:34:23 PM")

Timestamp('2018-04-13 15:34:23')

In [46]:
pd.Timestamp(dt.date(2015, 1, 1)) # creates a pd Timestamp from a python(dt) date object

Timestamp('2015-01-01 00:00:00')

In [47]:
pd.Timestamp(dt.datetime(2018, 2, 3, 13, 35, 24)) #creates a pd Timestamp from a python(dt) datetime object

Timestamp('2018-02-03 13:35:24')

# The pandas DatetimeIndex Object

In [55]:
dates = ["2016/01/02", "2016/04/12", "2007/09/07"]
pd.DatetimeIndex(dates) # converts strings in to pandas teimstamps and stores them into a new DateTimeIndex object

DatetimeIndex(['2016-01-02', '2016-04-12', '2007-09-07'], dtype='datetime64[ns]', freq=None)

In [59]:
dates = [dt.date(2016, 1, 1), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates) # works with list of python date objects (converts them into datetime objects)

In [60]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)# creates a Series with arbitrary values we created and the index is our above-created index

2016-01-01    100
1994-06-13    200
2003-12-29    300
dtype: int64

# The pd.to_datetime() Method

In [ ]:
# converts to timestamp or DateTimeIndex(for multiple)

In [64]:
pd.to_datetime(["2001-04-19"])
pd.to_datetime(dt.date(2019, 1, 3))
pd.to_datetime(dt.datetime(2019, 1, 3, 14, 32, 20))
pd.to_datetime(["2019/01/23", "2018-03-29", "2018", "July 4th, 1996"])

DatetimeIndex(['2019-01-23', '2018-03-29', '2018-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [69]:
times = pd.Series(["2019/01/23", "2018-03-29", "2018", "July 4th, 1996"])
times

0        2019/01/23
1        2018-03-29
2              2018
3    July 4th, 1996
dtype: object

In [71]:
pd.to_datetime(times) # converts the times series as a datetime

0   2019-01-23
1   2018-03-29
2   2018-01-01
3   1996-07-04
dtype: datetime64[ns]

In [73]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])

In [75]:
pd.to_datetime(dates, errors = "coerce") # cannot proccess "Hello" or February 31st(bc it does not exist)
                        # 'errors' parameter defaults to 'raise'
                        # ^ "coerce" forces all other values as NaT(null)

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [76]:
pd.to_datetime([1349720105, 1349806505, 1349892905,
                1349979305, 1350065705], unit = "s") # unix datetime: seconds since January 1st, 1970 @ midnight
                                                    # use unit = "s" for seconds/datetime

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)